<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Gallery</title>
</head>
<body>
<!--<input type="button" value="Refresh" onclick="getAll()">-->

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Tags</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="photo: ${photos}">
        <td th:text="${photo._id}"/>
        <td>
            <img th:src="${photo.url}" class="img-responsive thumbnail">
        </td>
        <td>
            <p th:each="tag : ${photo.tags}" th:text="${tag}"/>
        </td>
        <td th:text="${photo.description}" />
        <td></td>
    </tr>
    </tbody>
</table>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>

	function getAll(){
		fetch('http://localhost:8080/api/v1/photos', {
		  method: 'GET'
		})
		.then(response => response.json())
		.then(data => tableCreate(data));
	}

	function deleteById(id){
    sendDeleteRequest(id);
    deleteTable();
    getAll();
	}

	function sendDeleteRequest(id){
		fetch('http://localhost:8080/api/v1/photo/'+id,{
			method:'DELETE',
      headers: {
      'Access-Control-Allow-Origin': '*',
      "Access-Control-Allow-Methods": "GET, PUT, POST, DELETE, HEAD, OPTIONS"
    }
		}).then(response=>{
			return response.json()
		}).then(data=>
		console.log(data)
		);
	}

  function tableCreate(data) {
    const body = document.body,
        tbl = document.createElement('table');
    tbl.setAttribute("class","table table-striped")
    tbl.id = "table1";
    createTableHeaders(tbl);
    var tbl_body = tbl.createTBody();
    createTableBody(tbl_body,data);
      body.appendChild(tbl);
  }

    function createTableHeaders(tbl){
      var header = tbl.createTHead();
      let row_header = header.insertRow(0);
      let cell3 = row_header.insertCell(0);
      cell3.setAttribute("scope","col");
      cell3.innerHTML="<br>Buttons</br>"
      let cell2 = row_header.insertCell(0);
      cell2.setAttribute("scope","col");
      cell2.innerHTML="<br>Image</br>"
      let cell1 = row_header.insertCell(0);
      cell1.setAttribute("scope","col");
      cell1.innerHTML="<br>#</br>"
    }

    function createTableBody(tbl_body,data){
      for (let i in data) {
        console.log(i);
        var tr=tbl_body.insertRow(0);
        let tcell3=tr.insertCell(0);
        tcell3.innerHTML='<button type="button" class="btn btn-danger" id=' + data[i].id + '_delete_button ' + 'onclick="deleteById(\''+data[i].id+'\')' + '">Delete</button>';
        let tcell2=tr.insertCell(0);
        tcell2.innerHTML='<img src="'+ data[i].url + '" class="img-responsive thumbnail ">';
        let tcell1=tr.insertCell(0);
        tcell1.innerHTML='<br>'+i+'</br>';
      }
    }

    function deleteTable(){
      var elem = documenet.getElementById('table1');

      if (typeof elem != 'undefined'){
        elem.parentNode.removeChild(elem);
      }
    }
	</script>

</body>
</html>